## Q1. What are the characteristics of the tuples? Is tuple immutable?
# Ans:
### *Characteristics:
### 1-Tuples are ordered, indexed collections of data. Similar to string indices, the first value in the tuple will have the index [0], the second value [1], and so on. 
### 2-Tuples can store duplicate values.
### 3-Once data is assigned to a tuple, the values cannot be changed.immutable
### 4-Tuples allow you to store several data items in one variable. You can choose to store only one kind of data in a tuple or mix it up as needed.

## *Once the tuple elements are declared, they cannot be changed.So tuple is immutable.

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

## Ans:
      tuple methods  :1)count()
                      2)index()

In [16]:
# Example of count()
#The count() method returns a number of times the given element i is present in the tuple

t1=(1,2,3,4,4,4,4,4,5,6)

print("Count of number 4 is : ",t1.count(4))

Count of number 4 is :  5

In [17]:
#Example of index()
#The index() method returns the index of the specified element in the tuple.

print("Index of number 5 is : ",t1.index(5))

Index of number 5 is :  8

### : Reason why tuples have only two in-built methods as compared to Lists :
 
### Tuple is immutable.Once the tuple elements are declared, they cannot be changed.That is why tuples have only two in-built methods as compared to Lists.

# Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

# Ans:
## Sets are a collection data type that do not allow duplicate values to be held.

In [19]:
## Code for using a set to remove duplicates
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#List under a set can not be defined,so by type casting we convert the list to a set.
print("Here are the numbers without duplicate value : ",set(List))

Here are the numbers without duplicate value :  {1, 2, 3, 4}

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

# Ans :
## Difference between the set union() and update() :
### update() adds all missing elements to the set on which it is called.Calling set is changed.But union() creates a new set ,privious sets are unchanged.

In [22]:
# Defining two sets s1 and s2
s1={1,2,3,4}
s2={'a','b','c','d'}

In [14]:
## union method example:
s1.union(s2)

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [15]:
## s1 and s2 value not changed after union:
s1

{1, 2, 3, 4}

In [9]:
s2

{'a', 'b', 'c', 'd'}

In [21]:
## update example:
s1.update(s2)

In [21]:
## s1 value changed after update with s2:
s1

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

## Ans :
### The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets.

In [28]:
"Dictionary example"

capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

### Above, "capitals" is a dictionary object which contains key-value pairs inside { }. The left side of : is a key, and the right side is a value.The key should be unique and an immutable object. A number, string or tuple can be used as key.

## Dictionary is unorderd collection,value cannot be accessed using an index.Value accessed from a dictionary by key specified in the square brackets.

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

# Ans :
##    A dictionary can contain another dictionary, which in turn can contain dictionaries themselves, and so on to arbitrary depth. This is known as nested dictionary.A nested dictionary is created the same way a normal dictionary is created. The only difference is that each value is another dictionary.

In [4]:
# Let’s build a nested-dictionary that stores employee record.

ND1 = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}
print(ND1)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sam', 'job': 'Dev'}}

In [5]:
# Let’s build a nested-dictionary that stores employee record.(using a type constructor)
# To create a nested dictionary, simply pass dictionary key:value pair as keyword arguments to dict() Constructor.

ND2 = dict(emp1 = {'name': 'Bob', 'job': 'Mgr'},
         emp2 = {'name': 'Kim', 'job': 'Dev'},
         emp3 = {'name': 'Sam', 'job': 'Dev'})
print(ND2)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sam', 'job': 'Dev'}}

In [7]:
# # Let’s build a nested-dictionary that stores employee record.(using a  fromkeys())

IDs = ['emp1','emp2','emp3']
Defaults = {'name': 'xyz', 'job': 'abc'}

ND3 = dict.fromkeys(IDs, Defaults)

print(ND3)

{'emp1': {'name': 'xyz', 'job': 'abc'}, 'emp2': {'name': 'xyz', 'job': 'abc'}, 'emp3': {'name': 'xyz', 'job': 'abc'}}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
# dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

# Ans:

In [12]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

# Ans:

### The view objects of dictionary in python are keys, values and items.

In [1]:
# Three in-built methods in python to display  three view objects :
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [12]:
# 1) keys()

print('These are the key of Dictionary(dict1) :',dict1.keys())

These are the key of Dictionary(dict1) : dict_keys(['Sport', 'Teams'])

In [13]:
# 2)values()

print('These are the Values of Dictionary(dict1) :',dict1.values())

These are the Values of Dictionary(dict1) : dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [15]:
# 3) items() 

print('These are the Item/key-value pair of Dictionary(dict1) :',dict1.items())

These are the Item/key-value pair of Dictionary(dict1) : dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])